#files to not push to repo
node_modules
/node_modules
.npmrc
.DS_Store
*/.DS_Store
**/.DS_Store
/logs
logs
*.crt
*.key
lerna-debug.log
lerna-debug
CHANGELOG.md
**/build/
**/static/
**/.npmrc
**/.env.local
environment_config.qa.json
/dist
**/dist/
**/*.zip
tsconfig.tsbuildinfo
**/tsconfig.tsbuildinfo
**/local-scripts/
.eslintcache


